<!-- Menú de Administrador -->
<section id="administrador" data-widget-grid="data-widget-grid" ng-if="currentUser.roles[0] == 'admin'">
	<h1>Super Administrador</h1>
  <div class="row">
    <div class="col-sm-12">
      <div data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-jarvis-widget="data-jarvis-widget">
        <header>
          <h2>Opciones</h2>
        </header>
        <div>
          <div class="widget-body">
						<div class="row">
							<div class="col-sm-3">
								<a ui-sref="root.importarContratantes" href="javascript:void(0);" class="btn btn-labeled btn-warning btn-block" style="text-align: left"> <span class="btn-label"><i class="fa fa-lg fa-fw fa-university"></i></span>Importar Contratantes</a>
							</div>
							<div class="col-sm-3">
								<a ui-sref="root.importarMovimientos" href="javascript:void(0);" class="btn btn-labeled btn-warning btn-block" style="text-align: left"> <span class="btn-label"><i class="fa fa-lg fa-fw fa-university"></i></span>Importar Movimientos</a>
							</div>		
						</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Menú de Coordinador -->
<section id="Coordinador" data-widget-grid="data-widget-grid" ng-if="currentUser.roles[0] == 'Contratante'">
	<h2>Estado Cuenta: <bold>{{currentUser.profile.nombreCompleto}} </bold></h2>
  <div class="row" ng-repeat="movimiento in ho.movimientos">
		<div class="well">
			<div class="col-sm-12">
					<div class="col-sm-2"> 					    
					    	<label>PREDIO:</label>
					    	<span>{{movimiento.Nom_predio}}</span>
					</div>
					<div class="col-sm-2"> 					    
					    	<label>PREDIO:</label>
					    	<span>{{movimiento.Nom_programa}}</span>
					</div>
					<div class="col-sm-2"> 					    
					    	<label>MANZANA:</label>
					    	<span>{{movimiento.Imanz}}</span>
					</div>
					<div class="col-sm-2"> 					    
					    	<label>LOTE:</label>
					    	<span>{{movimiento.Ilote}}</span>
					</div>
					<div class="col-sm-2"> 					    
					    	<label>PRECIO:</label>
					    	<span>{{movimiento.Precio | currency}}</span>
					</div>	
			</div>		
	
			<table class="table table-bordered">
				<thead>
					<tr>
							<th width="5%"><div class="text-center">Recibo</th>
							<th width="5%"><div class="text-center">Fecha Pago</th>
							<th width="5%"><div class="text-center">Saldo Capital</th>
							<th width="5%"><div class="text-center">Capital</th>
							<th width="5%"><div class="text-center">C. ADMVA</th>
							<th width="5%"><div class="text-center">Seg. Vida</th>
							<th width="5%"><div class="text-center">Interes</th>
							<th width="5%"><div class="text-center">Interes Moratorio</th>
							<th width="5%"><div class="text-center">Total</th>
							<th width="5%"><div class="text-center">Saldo</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="recibo in movimiento.recibos">
							<td class="text-center" >{{recibo.recibo}}</td>
					    <td class="text-center">{{recibo.fechaPago}}</td>
					    <td class="text-right">{{recibo.saldoCapital | currency}}</td>
					    <td class="text-right">{{recibo.capital | currency}}</td>
					    <td class="text-right">{{recibo.administrativa | currency}}</td>
					    <td class="text-right">{{recibo.seguro | currency}}</td>
					    <td class="text-right">{{recibo.interes | currency}}</td>
					    <td class="text-right">{{recibo.interesMoratorio | currency}}</td>
					    <td class="text-right">{{recibo.total | currency}}</td>
					    <td class="text-right">{{recibo.saldo | currency}}</td>
					</tr>	
				</tbody>
			</table>	
		
		</div>
	</div>
</section>

 
 