<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
		<h1 class="alge-title txt-color-blueDark">
				Cobro de Estipendios
		</h1>
	</div>
</div>

<form name="form" class="form-horizontal" role="form">
<!-- 	<div class="col-sm-8"> -->
		<div class="well">	
			<div class="row">	
				<div class="col-sm-3" valida>
					<label >Tipo *</label>
					<select name="tipo" ng-model="cest.tipo" data-placeholder="Seleccione" class="form-control" required >
							<option value=""></option>
							<option value="Celebración">Celebración</option>
							<option value="Intención de Misa">Intención de Misa</option>
							<option value="Trámite">Trámite</option>
					</select>
				</div>	
				
				<div class="col-sm-3" valida>
						<label>Fecha *</label>
						<input id="fecha" name="fecha" type="date" format="dd/MM/yyyy" class="form-control" placeholder="Fecha" ng-model="cest.objeto.fecha" required="">
				</div>
			
				<div class="col-sm-2" ng-if="cest.tipo != 'Trámite'" valida>
		    	<label>Hora *</label>	
		    	<input id="hora" name="hora" type="time" class="form-control" ng-model="cest.objeto.hora" required>																
	    	</div>
				
				
			</div>
			<div class="row">		
				<div class="col-sm-4" valida>
					<label>Sacramento o Servicio *</label>
					<select name="estipendio" class="form-control select2" ng-model="cest.objeto.estipendio_id" ng-change = "cest.getArancel(cest.objeto.estipendio_id)" required>
						<option ng-repeat="obj in cest.estipendios" value="{{obj._id}}">{{obj.nombre}}</option>
					</select>
				</div>
				
				<div class="col-sm-4" valida ng-if = "cest.tipo == 'Intención de Misa'">
			    <label>Intención *</label>
			    <select name="intencion" ng-model="cest.objeto.intencion" class="form-control" required>
				    <option value=""></option>
				    <option value="ACCIÓN DE GRACIAS">Acción de gracias</option>
				    <option value="BODAS DE ORO">Bodas de oro</option>
				    <option value="BODAS DE PLATA">Bodas de plata</option>
				    <option value="ETERNO DESCANSO">Eterno descanso</option>
				    <option value="ETERNO DESCANSO, CUERPO PRESENTE">Eterno descanso cuerpo presente</option>
				    <option value="GRADUACIÓN">Graduación</option>
						<option value="MATRIMONIO">Matrimonio</option>	
				    <option value="POR LA SALUD">Por la salud</option>
				    <option value="POR UNA NECESIDAD">Por una necesidad</option>
				    <option value="ANIMAS DEL PURGATORIO">Animas del purgatorio</option>
 					</select>
	    	</div>	  
			
			</div>
			<div class="row">		
		  	<div class="col-sm-4" valida>					    
					<label>Concepto *</label>
					<input name="concepto" type="text" class="form-control" placeholder="Concepto" ng-model="cest.objeto.concepto" required capitalize>
				</div>
				
				<div class="col-sm-2">					    
					<label>Arancel</label><br />
					<span style="font-size: x-large"> {{cest.objeto.arancel | currency}}</span>
				</div>
				
				<div class="col-sm-2" ng-if ="(cest.parroquia.apoyo == undefined  || cest.parroquia.apoyo == false ) || cest.tipo != 'Celebración'">					    
					<label>Apoyo</label><br />
					<span style="font-size: x-large"> {{cest.objeto.apoyo | currency}}</span>
				</div>
				
				<div class="col-sm-2" ng-if ="cest.parroquia.apoyo == true && cest.tipo == 'Celebración'">					    
					<label>Apoyo</label><br />
					<input name="apoyo" type="number" class="form-control" ng-model="cest.objeto.apoyo" style="font-size: x-large">
				</div>
				
			</div>
			
			<div class="row">
				<div class="col-sm-2">					    
					<label>Celular</label>
					<input name="celular" type="text" class="form-control" placeholder="Celular" ng-model="cest.objeto.celular">
				</div>
				<div class="col-sm-3">					    
					<label>Correo</label>
					<input name="correo" type="text" class="form-control" placeholder="Correo" ng-model="cest.objeto.correo">
				</div>
				<div class="col-sm-1">
						<label>Exonerar</label>
						<input id="pendiente" name="pagopendiente" type="checkbox" class="form-control" ng-model="cest.objeto.pendiente">
				</div>
				<div class="col-sm-2">
					<br />
					<input type="button" ng-click="cest.agregarEstipendio(cest.objeto, form)" class="btn btn-primary" ng-show="cest.action" value="Agregar" valida-form formulario="form">
					<input type="button" ng-click="cest.actualizarEstipendio(cest.objeto, form)" class="btn btn-primary" ng-show="!cest.action" value="Actualizar"  valida-form formulario="form">
					<input type="button" ng-click="cest.cancelarEstipendio()" value="Cancelar" ng-show="!cest.action" class="btn btn-danger">
				</div>
<!--
				<div class="col-sm-2">
					<br />
					<input type="button" ng-click="cest.agregarEstipendioSinBorrar(cest.objeto, form)" class="btn btn-primary" ng-show="cest.action" value="Agregar y Mantener" valida-form formulario="form">
				</div>
-->	
			</div>
		</div>	
<!-- 	</div> -->
</form>

<form  name="form2" class="form-horizontal" role="form2">		
		<div  class="well">
			<div class="row">
					<table class="table table-bordered" style="font-size: small">
						<thead>
							<tr>
								<th class="text-center" width="3%"></th>
								<th class="text-center" width="3%">Num.</th>
								<th class="text-center" width="8%">Fecha</th>
								<th class="text-center" width="8%"><div class="text-center">Hora</div></th>
								<th class="text-center" width="15%"><div class="text-center">Sacramento o Servicio</div></th>
								<th class="text-center" width="15%"><div class="text-center">Intención</div></th>
								<th class="text-center" width="15%"><div class="text-center">Texto</div></th>
								<th class="text-center" width="5%"><div class="text-center">Total</div></th>
								<th class="text-center" width="5%"><div class="text-center">Pago</div></th>
								<th class="text-center" width="8%">Acción</th>
							</tr>
						</thead>
						<tbody>
					    <tr ng-repeat="objeto in cest.arregloEstipendios">
						    <td >
							    <a ng-model="objeto.pagoSeleccionado" ng-click="cest.seleccionarPago(objeto)" class="btn btn-xs btn-{{objeto.pagoSeleccionado == true ? 'warning' : 'success'}}"> 												{{objeto.pagoSeleccionado == true ? '-' : '+'}}
							    </a> 
							  </td>
						    <td class="text-center">{{objeto.numero}}</td>
						    <td class="text-center">{{objeto.fecha | date:"dd-MM-yyyy"}}</td>
						    <td class="text-center">{{objeto.hora | date:"h:mm a"}}</td>
						    <td class="text-left">{{cest.getEstipendio(objeto.estipendio_id)}}</td>
						    <td class="text-left">{{objeto.intencion}}</td>
						    <td class="text-left">{{objeto.concepto}}</td>
						    <td class="text-right">{{objeto.total | currency}}</td>
						    <td style="text-align: right">
							    <input id="pagp" style="width: 80px" min="0" type="number" ng-model="objeto.importePagado" ng-change="cest.sumaTotal(objeto)">
							  </td>
								<td style="text-align: right">
									<a href="#" ng-click="cest.quitarIntencion(objeto.numero)" class="btn btn-labeled btn-danger" ><i class="fa fa-trash"></i></a>
									<a href="#" ng-click="cest.editarIntencion(objeto)" class="btn btn-labeled btn-info"><i class="fa fa-pencil"></i></a>
								</td>	
					    </tr>
						</tbody>
						<tfoot>
								<tr>
									<td colspan="7" style="text-align: right; font-size: x-large">
										TOTAL: 
									</td>	
									<td style="text-align: right; font-size: x-large">
										{{cest.pago.total | currency}}
									</td>
									<td style="text-align: right; font-size: x-large">
										{{cest.pago.pagar | currency}}
									</td>
									<td></td>
								</tr>		
						</tfoot>	
					</table>
			</div>		
		</div>
	
		<div class="well">
			<div class="row">
				<div class="col-sm-2" valida>
					<h4>Paga con: </h4>
					<input id="cobro" name="cobro" min="0" type="number" class="form-control" placeholder="Pagar" ng-model="cest.pago.cantidad" style="font-size: larger" required="true">
				</div>
				
				<div class="col-sm-2">
					<h4>Cambio:</h4>
					<h4> {{ cest.pago.cantidad - cest.pago.pagar | currency }}</h4>	
				</div>	
				
				
				<div class="col-sm-1">
					<br>
					<input type="submit" ng-click="cest.guardar(cest.objeto,form2)" value="Cobrar" class="btn btn-success" valida-form formulario="form2">
				</div>
				
			</div>	
		</div>	
</form>










