<h2>Importar Matrimonios</h2>
<div class="row">
	
	<div class="col-sm-4">
		<label>Parroquia *</label>
		<select name="estipendio" class="form-control select2" ng-model="imat.parroquia_id" >
			<option ng-repeat="obj in imat.parroquias" value="{{obj._id}}">{{obj.nombre}}</option>
		</select>
	</div>
	
	<div class="col-sm-12">
			<form name="form" class="form-horizontal" role="form" novalidate >
				<h4>Archivo</h4>
		  	<div class="well">	     
			    <div class="row">			    				
						<p><input type="file" name="xlfile" accept=".xlsx" id="xlf" /></p>
			    </div>			    			    
			    <div class="row">
						<div class="col-sm-3">
							<input ng-click="imat.guardar()" value="Guardar" class="btn btn-primary"/>			
						</div>
					</div> 
		  	</div> 	
		  </form>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="15%"><div class="text-center">Num</div></th>
					<th width="25%"><div class="text-center">Nombre El</div></th>
					<th width="25%"><div class="text-center">Nombre Ella</div></th>
					<th width="10%"><div class="text-center">Fecha </div></th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="objeto in imat.arreglo.MATRIMONIO">
		    	<td>{{$index + 1}}</td>
		    	<td>{{objeto.APPH_MAT}} {{objeto.APMH_MAT}} {{objeto.NOMH_MAT}}</td>
			    <td>{{objeto.APPM_MAT}} {{objeto.APMM_MAT}} {{objeto.NOMM_MAT}}</td>
			    <td>{{objeto.FECHA_MAT | date:"dd-MM-yyyy"}}</td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>