<h2><span ng-if = "pcom.action">Nueva</span> <span ng-if = "!pcom.action">Actualizar</span> Primera Comunión</h2>
<div class="row">
	<div class="col-sm-12">
			<form name="form" class="form-horizontal" role="form">
		  	<div class="well">	    
					<div class="row">
							<div class="col-sm-4" valida>
						    <label>Nombre *</label>
					    	<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="pcom.objeto.nombre" required capitalize>
					    </div>
					    <div class="col-sm-4" valida>
						    <label>Apellido Paterno *</label>
					    	<input name="apellidoPaterno" type="text" class="form-control" placeholder="Apellido Paterno" ng-model="pcom.objeto.apellidoPaterno" required capitalize>
					    </div>
					    <div class="col-sm-4">
						    <label>Apellido Materno</label>
					    	<input name="apellidoMaterno" type="text" class="form-control" placeholder="Apellido Materno" ng-model="pcom.objeto.apellidoMaterno" capitalize>
					    </div>
					</div>	
					<div class="row">
						<div class="col-sm-3">					    
							<label>Fecha Primera Comunión*</label>
							<input name="fecha" type="date" format="dd/MM/yyyy" class="form-control" placeholder="Fecha" ng-model="pcom.objeto.fecha" required="">
						</div>	
						<!--
<div class="col-sm-2" valida>
				    	<label>Hora *</label>	
				    	<input name="hora" type="time" class="form-control" ng-model="pcom.objeto.hora" required>																
			    	</div>		
-->
						<div class="col-sm-2" valida> 					    
							<label>Libro *</label>
							<input name="libro" type="text" class="form-control" placeholder="Libro" ng-model="pcom.objeto.libro" ng-disabled = "pcom.estatus" required="" capitalize>
						</div>
						<div class="col-sm-2" valida>					    
							<label>Foja *</label>
							<input name="foja" type="text" class="form-control" placeholder="Foja" ng-model="pcom.objeto.foja" ng-disabled = "pcom.estatus" required="" capitalize>
						</div>		    				    	    
						<div class="col-sm-2" valida>					    
							<label>No. de Acta *</label>
							<input name="noActa" type="text" class="form-control" placeholder="No. dec Acta" ng-model="pcom.objeto.noDeActa" ng-disabled = "pcom.estatus" required="" capitalize>
						</div>
						<div class="col-sm-3" valida>
							<label >Estatus *</label>
							<select name="estatus" ng-model="pcom.objeto.estatus" data-placeholder="Seleccione" ng-change="pcom.cambiarEstatus()" class="form-control" required >
									<option value=""></option>
									<option value="primeraComunion">Primera Comunión</option>
									<option value="enTramite">En trámite</option>
							</select>
						</div>
 					</div>
 					<div class="row">
							<div class="col-sm-4" valida>
								<label >Tipo Sacerdote *</label>
								<select name="tipoSacerdote" ng-model="pcom.objeto.tipoSacerdote" ng-change="pcom.cargarSacerdotes()" class="form-control" required>
										<option value=""></option>
										<option value="PARROQUIA">PARROQUIA</option>
										<option value="DIOCESIS">DIOCESIS</option>
										<option value="OTRO">OTRO</option>
										<option value="IMPORTADO" ng-if = "pcom.objeto.tipoSacerdote == 'IMPORTADO'" >IMPORTADO</option>
 	 							</select>
							</div>
							
							<div class="col-sm-4" ng-if="pcom.objeto.tipoSacerdote == 'PARROQUIA' || pcom.objeto.tipoSacerdote == 'DIOCESIS'" valida>
								<label for="sacerdote_id">Sacerdote *</label>
								<select name="sacerdote_id" class="js-example-basic-single js-states form-control" ng-model="pcom.objeto.sacerdote_id" ng-selected="pcom.seleccionaSacerdotesAsistio()" required>
									<option ng-repeat="sac in pcom.sacerdotes" value="{{sac._id}}">{{sac.profile.nombreCompleto}}</option>
								</select>
							</div>
							<!--
<div class="col-sm-4" ng-if="pcom.objeto.tipoSacerdote == 'OTRO' || pcom.objeto.tipoSacerdote == 'IMPORTADO'" valida>
								<label>Sacerdote *</label>
								<input name="fornaneo" type="text" class="form-control" placeholder="Sacerdote" ng-model="pcom.objeto.sacerdoteNombre" required="" capitalize>
							</div>
-->
  				</div>		
  				
  				<div class="row">		
							<div class="col-sm-6" valida>
								<label>Asistió *</label>
								<input name="sacerdoteNombre" type="text" class="form-control" placeholder="Sacerdote" ng-model="pcom.objeto.sacerdoteNombre" required="" capitalize>
							</div>
			  	</div>
  						
					<div class="row">
						<div class="col-sm-2">
								<label for="esHijo">Es *</label>
								<select name="esHijo" ng-model="pcom.objeto.esHijo" class="form-control" required >
										<option value=""></option>
										<option value="HIJO">HIJO</option>
										<option value="HIJA">HIJA</option>
								</select>
							</div>
						<div class="col-sm-3">					    
							<label>Fecha Bautismo</label>
							<input name="fechabautismo" type="date" format="dd/MM/yyyy" class="form-control" placeholder="Fecha" ng-model="pcom.objeto.fechaBautismo">
						</div>
						<div class="col-sm-4"> 					    
							<label>Parroquia Bautismo</label>
							<input name="parroquiaBautismo" type="text" class="form-control" placeholder="Parroquia Bautismo" ng-model="pcom.objeto.parroquiaBautismo" capitalize>
						</div>
						<div class="col-sm-3">
							<label>Lugar de Bautismo </label>
							<input name="lugarBautismo" type="text" class="form-control" placeholder="Lugar de Bautismo" ng-model="pcom.objeto.lugarBautismo" capitalize>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6" valida>					    
							<label>Padre *</label>
							<input name="padre" type="text" class="form-control" placeholder="Padre" ng-model="pcom.objeto.padre" required="" capitalize>
						</div>
						<div class="col-sm-6" valida>					    
							<label>Madre *</label>
							<input name="madre" type="text" class="form-control" placeholder="Madre" ng-model="pcom.objeto.madre" required="" capitalize>
						</div>
						
					</div>	
					<div class="row">
						<div class="col-sm-6" valida>					    
							<label>Padrino *</label>
							<input name="padrino" type="text" class="form-control" placeholder="Padrino" ng-model="pcom.objeto.padrino" required="" capitalize>
						</div>
						<div class="col-sm-6" valida>					    
							<label>Madrina *</label>
							<input name="madrina" type="text" class="form-control" placeholder="Madrina" ng-model="pcom.objeto.madrina" required="" capitalize>
						</div>
						
					</div>	
					
					<div class="row" ng-if="pcom.objeto.estatus == 'primeraComunion'">
						
						<div class="col-sm-4" valida>
							<label >Tipo Sacerdote Para Constancia *</label>
							<select name="tipoSacerdoteParroco" ng-model="pcom.objeto.tipoSacerdoteParroco" ng-change="pcom.cargarSacerdotesParroquia()" class="form-control" required>
									<option value=""></option>
									<option value="PARROQUIA">PARROQUIA</option>
									<option value="OTRO">OTRO</option>
 							</select>
						</div>
						
						<div class="col-sm-4" ng-if="pcom.objeto.tipoSacerdoteParroco == 'PARROQUIA'" ng-selected="pcom.seleccionaSacerdotesParroquia()" valida>
							<label for="sacerdoteParroco_id">Sacerdote *</label>
							<select name="sacerdoteParroco_id" class="js-example-basic-single js-states form-control" ng-model="pcom.objeto.sacerdoteParroco_id" required>
								<option ng-repeat="sac in pcom.sacerdotesConstancia" value="{{sac._id}}">{{sac.profile.nombreCompleto}}</option>
							</select>
						</div>
					</div>
					
					<div class="row" ng-if="pcom.objeto.estatus == 'primeraComunion'">
						
						<div class="col-sm-6" valida>
							<label>Pbro. Firmó Constancia *</label>
							<input name="parroco" type="text" class="form-control" placeholder="Sacerdote Firmó" ng-model="pcom.objeto.parroco" required="" capitalize>
						</div>

					</div>
					
		  	</div>  
		  	
		  	
		  	<h3>Notificación</h3> 
		  	<a href="#" class="btn btn-default btn-info" ng-click = "pcom.agregarNotificacion()" ng-disabled = "pcom.estatus">
						Crear Notificación
				</a>
		  	<div class="well">
			  		<div class="row">
								<div class="col-sm-12">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th class="text-center" width="10%">Fecha</th>
													<th class="text-center" width="20%">Parroquia</th>
													<th class="text-center" width="15%">Lugar</th>
													<th class="text-center" width="5%">Folio</th>
													<th class="text-center" width="5%">Foja</th>
													<th class="text-center" width="5%">Acta</th>
													<th class="text-center" width="5%">Tipo</th>
													<th class="text-center" width="5%">Estatus</th>				
													<th class="text-center" width="5%">Acción</th>
												</tr>
											</thead>
											<tbody>
										    <tr ng-repeat="objeto in pcom.notificaciones">
											    <td style="text-align: center"> {{objeto.fecha | date: "MM/dd/yyyy"}}</td>
											    <td> {{objeto.parroquiaDestino}}</td>
											    <td> {{objeto.lugarDestino}}</td>
											    <td> {{objeto.libro}}</td>
											    <td> {{objeto.foja}}</td>
											    <td> {{objeto.noDeActa}}</td>
											    <td> {{objeto.tipo}}</td>
											    <td>
													    <div class="text-center">
													    	<span ng-if="objeto.estatus == 1" class="label label-warning">
																  Pendiente
																</span>
																<span ng-if="objeto.estatus == 2" class="label label-success">
																  Aplicada
																</span>
														  </div>
													</td>
											    <td>
													    <div class="text-center">
														    <div class="btn-group" ng-if="objeto.estatus == 1">
																  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																    <span class="caret"></span>
																    <span class="sr-only">Toggle Dropdown</span>
																  </button>
																  <ul class="dropdown-menu dropdown-menu-right text-left">
																    <li><a href="#" ng-click = "pcom.editarNotificacion(objeto)" >Editar</a></li>
																    <li><a href="#" ng-click = "pcom.seleccionaFirma(objeto)" >Imprimir</a></li>
																  </ul>
																</div>
													    </div>				    
													</td>
										    </tr>
											</tbody>
										</table>
										
								</div>
						</div>
		  	</div>
		  	
		  	<div class="well">
			  		<div class="row">
							<div class="col-sm-4">
								<input type="submit" ng-click="pcom.guardar(pcom.objeto,form)" value="Guardar" class="btn btn-success" ng-show="pcom.action" valida-form formulario="form">
								<input type="submit" ng-click="pcom.actualizar(pcom.objeto,form)" value="Actualizar" class="btn btn-success" ng-show="!pcom.action" valida-form formulario="form">
								<a href="./primerasComunionesLista" class="btn btn-default btn-primary">
									 Regresar
								</a>
							</div>
						</div>
		  	</div>	
		  </form>
	</div>
</div>



<div id="modalNotificacion" class="modal fade bs-intencion-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
	    <form name="form2" novalidate>
	    	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel" ng-show="pcom.actionN">Agregar Notificación</h4>
		        <h4 class="modal-title" id="myModalLabel" ng-show="!pcom.actionN">Actualizar Notificación</h4>
		    </div>
				<div class="modal-body">
						<div  class="well">
							<div class="row">  
								  <div class="col-sm-3">
										<label for="esHijo">Sistema o Carta *</label>
										<select name="tipoN" ng-model="pcom.notificacion.tipo" class="form-control" required >
												<option value=""></option>
												<option value="sistema">Sistema</option>
												<option value="carta">Carta</option>
										</select>
									</div>
								  
								  <div class="col-sm-4" ng-if="pcom.notificacion.tipo == 'carta'" valida>					    
										<label>Diócesis *</label>
										<input name="diocesisN"  type="text" class="form-control" ng-model="pcom.notificacion.diocesis" required>
									</div>
								  
								  <div class="col-sm-5" ng-if="pcom.notificacion.tipo == 'carta'" valida>					    
										<label>Presbítero Notificación *</label>
										<input name="sacerdoteN"  type="text" class="form-control" ng-model="pcom.notificacion.sacerdoteNotificar" required>
									</div>
									
									<div class="col-sm-4" ng-if="pcom.notificacion.tipo == 'sistema'" valida>
										<label >Parroquia *</label>
										<select name="parroquiaDestino_id" class="js-example-basic-single js-states form-control" ng-model="pcom.notificacion.parroquiaDestino_id" required>
											<option ng-repeat="obj in pcom.parroquias" value="{{obj._id}}">{{obj.nombre}}</option>
										</select>
									</div>
									
							</div>		
							<div class="row"> 
									
									<div class="col-sm-6" ng-if="pcom.notificacion.tipo == 'carta'" valida>					    
										<label>Nombre Parroquia *</label>
										<input name="parroquiaN"  type="text" class="form-control" ng-model="pcom.notificacion.parroquiaDestino" required capitalize>
									</div>
								 	 
								  <div class="col-sm-6" ng-if="pcom.notificacion.tipo == 'carta'" valida>					    
										<label>Lugar *</label>
										<input name="lugarN"  type="text" class="form-control" ng-model="pcom.notificacion.lugarDestino" required capitalize>
									</div>
								
									<div class="col-sm-2" valida> 					    
										<label>Libro *</label>
										<input name="libroN" type="text" class="form-control" placeholder="Libro" ng-model="pcom.notificacion.libro" required="" capitalize>
									</div>
									<div class="col-sm-2" valida>					    
										<label>Foja *</label>
										<input name="fojaN" type="text" class="form-control" placeholder="Foja" ng-model="pcom.notificacion.foja" required="" capitalize>
									</div>		    				    	    
									<div class="col-sm-2" valida>					    
										<label>No. de Acta *</label>
										<input name="noActaN" type="text" class="form-control" placeholder="No. dec Acta" ng-model="pcom.notificacion.noDeActa" required="" capitalize>
									</div>
									
							</div>		
						</div>
	      </div>	
	      <div class="modal-footer">
		      	<input type="submit" ng-click="pcom.guardarNotificacion(pcom.notificacion,form2)" value="Aceptar" ng-show="pcom.actionN" class="btn btn-success" valida-form formulario="form2">
		      	<input type="submit" ng-click="pcom.actualizarNotificacion(pcom.notificacion,form2)" value="Actualizar" ng-show="!pcom.actionN" class="btn btn-success" valida-form formulario="form2">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		    </div>
		  </form>   
     </div>
     
  </div>
</div>

<div id="modalFirma"	class="modal fade" data-backdrop="static" role="dialog">
 	<div class="modal-dialog">
	<!-- Modal content-->
		<form name="formImprimir" novalidate>
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Seleccione el Sacerdote a Firmar</h4>
  			</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-8" valida>
							<label for="sacerdote_id">Sacerdote *</label>
							<select name="sacerdote_id" class="form-control" ng-model="pcom.sacerdoteFirma_id" required>
								<option ng-repeat="sac in pcom.sacerdotesFirma" value="{{sac._id}}">{{sac.profile.nombreCompleto}}</option>
							</select>
						</div>
					</div>		
 				</div>
				<div class="modal-footer">
					<div class="row">
						 
						<div class="col-sm-12 "><br/>
							<button type="button" ng-click="pcom.imprimirNotificacion(formImprimir)" class="btn btn-success" valida-form formulario="formImprimir">Imprimir</button> 
							<button type="button" id="cerrarRespuesta" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
						</div>
					</div>								 
				</div>
			</div>  
		</form>	
  </div>

</div>
 