<h2>Contratante: 
	<bold>{{currentUser.profile.nombreCompleto}}</bold>
	<bold><span ng-show="pwd.contratanteId">{{pwd.contratantes.profile.nombreCompleto}}</span></bold>
</h2>
<form name="form" class="form-horizontal" role="form" novalidate >
	<h4>Cambio de Contraseña</h4>
	<div class="well">	    
    <div class="row">
    	<div class="col-sm-4" valida>					    
	    	<label>Contraseña *</label>
	    	<input name="contrasena" type="password" class="form-control" placeholder="Contraseña" ng-model="pwd.usuario.password" required="">
    	</div>		    				    	    
    	<div class="col-sm-4" valida>					    
	    	<label>Confirmar Contraseña *</label>
	    	<input name="confirmar" type="password" class="form-control" placeholder="Confirmar Contraseña" ng-model="pwd.usuario.confirmpassword" required="">
		  </div>
    </div>
	</div>  
	<div class="row">
		<div class="col-sm-12">
			<input type="submit" ng-click="pwd.actualizar(pwd.usuario,form)" value="Actualizar" class="btn btn-primary" valida-form formulario="form"/>
		</div>
	</div>	  
</form>




