<h2>Importar Contratantes</h2>
<div class="row">
	<div class="col-sm-12">
			<form name="form" class="form-horizontal" role="form" novalidate >
		  	<div class="well">	     
			    <div class="row">			    				
						<p><input type="file" name="xlfile" accept=".xlsx" id="xlf" /></p>
			    </div>			    			    
			    <div class="row">
						<div class="col-sm-3">
							<input id="cargar" ng-click="icon.cargar()" value="Cargar" class="btn btn-primary"/>			
						</div>
						<div class="col-sm-3">
							<input id="guardar" ng-click="icon.guardar()" value="Guardar" class="btn btn-primary"/>			
						</div>
					</div> 
		  	</div> 	
		  </form>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="5%"><div class="text-center">Id</div></th>
					<th width="5%"><div class="text-center">Cuserweb</div></th>
					<th width="15%"><div class="text-center">Nombre</div></th>
					<th width="10%"><div class="text-center">RFC</div></th>
					<th width="15%"><div class="text-center">Domicilio</div></th>
					<th width="5%"><div class="text-center">Tel 1</div></th>
					<th width="5%"><div class="text-center">Tel 2</div></th>
					<th width="5%"><div class="text-center">Tel 3</div></th>
					<th width="15%"><div class="text-center">Correo</div></th>
					<th width="10%"><div class="text-center">Contacto</div></th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="contratante in icon.contratantesArreglo.Hoja1" ng-class="contratante.existe == true ? 'danger' : ''">
		    	<td>{{contratante.Icontid}}</td>
			    <td>{{contratante.Cuserweb}}</td>
			    <td>{{contratante.Cnomcomp}}</td>
			    <td>{{contratante.Crfc}}</td>
			    <td>{{contratante.Cdomicilio}}</td>
			    <td>{{contratante.Ctel1}}</td>
			    <td>{{contratante.Ctel2}}</td>
			    <td>{{contratante.Ctel3}}</td>
			    <td>{{contratante.Ccorreo}}</td>
			    <td>{{contratante.Nom_contacto}}</td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>



