
<form name="form" class="form-horizontal" role="form" novalidate >
	<h4>Cambio de Contraseña a un Contratante</h4>
	<div class="well">	    
    <div class="row">
			<div class="col-sm-6">
					<div class="input-group input-group-md">
				      <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
				      <div class="icon-addon addon-md">
				          <input type="text" placeholder="..." class="form-control" ng-model="con.buscar.nombre">
				          <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="" data-original-title="email"></label>
				      </div>
				  </div>
			</div>	
		</div>
 	</div>  
</form>
<!-- Tablaa-->
<table class="table table-bordered" align="center" bs-table>
	<thead>
		 <tr>
			 <th>Num</th>
			 <th>Nombre</th>
		 </tr> 
	</thead>	
	<tbody>
		<tr ng-repeat="contratante in con.contratantes"> 
			<td>{{$index+1}}</td>
			<td><a href="/cambioContrasena/{{contratante._id}}">{{contratante.profile.nombreCompleto}}</a></td>
		</tr>	
	</tbody>
</table>




